@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');


:root {
    --accent-color: #f39c12; 
    --text-main: #2c3e50;
    --bg-soft: #f9f9f9;
    --spacing: 2rem;
}




body {
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.6;

    animation: gradientShift 30s ease infinite;

    margin: 0;
    padding: var(--spacing);
    background: #000000;


    border: 8px solid black;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Fascinate Inline", system-ui;
    font-style: normal;
}


h1 h2 h3 h4 h5 h6 {
    justify-content: center;
}


.main-header {
    border-bottom: 1px solid #eee;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}


.meta-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #95a5a6;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.exercise-card {
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: var(--spacing);
    transition: transform 0.3s ease;
}

.exercise-card:hover {
    transform: translateY(-5px);
}

h2 {
    color: var(--accent-color);
    font-size: 1.8rem;
    margin-top: 0;
}

code {
    background: #e0e0e0;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-family: 'Fira Code', monospace;
}

/* Le lien, une invitation au voyage */
.link-glow {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px transparent;
}

.link-glow:hover {
    border-bottom: 2px solid var(--accent-color);
}