@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');


:root {
    --accent-color: #f39c12; 
    --text-main: #2c3e50;
    --bg-soft: #f9f9f9;
    --spacing: 2rem;
}



body {
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.6;

    background: linear-gradient(
    to bottom right,
    #fc00ff,
    #00dbde
  );
    margin: 0;
    padding: var(--spacing);


    border: 8px solid black;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Fascinate Inline", system-ui;
    font-style: normal;
}



table, th, td {
  border: 1px solid;
}
#paire{

  font-size: 16px;
  color: gold;
}

p.right{
  text-align: right;
}
h1{
    font-size: 24pt;
    text-align: center;
    color: var(--accent-color);

  position: relative;
}
h2{
  font-size: 18pt;
  color: rgb(188, 188, 220);
}

h3{
  font-size: 16pt;

}











.cardFlip {
  perspective: 1000px;
}

.cardFlip-content {

  transition: transform 1s;
  
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.cardFlip-content.is-flipped {
  transform: rotateY(180deg);
}

.cardFlip-inside {
  position: absolute;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;

}

.cardFlip-inside--front {
  display: flex;
  align-items: center;
  justify-content: center;
}



.cardFlip-inside--back {
 transform: rotateY(180deg);
}

.cardFlip-back-content {

  display: flex;
  align-items: center;
  justify-content: center;
}
