@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');


:root {
    --accent-color: #f39c12; 
    --text-main: #2c3e50;
    --bg-soft: #f9f9f9;
    --spacing: 2rem;
}



body {
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.6;


    margin: 0;
    padding: var(--spacing);
    background: #2a0657;


    border: 8px solid black;
    min-height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: "Fascinate Inline", system-ui;
    font-style: normal;
}



table, th, td {
  border: 1px solid;
}
#paire{

  font-size: 16px;
  color: gold;
}

p.right{
  text-align: right;
}
h1{
    font-size: 24pt;
    text-align: center;
    color: var(--accent-color);

  position: relative;
}
h2{
  font-size: 18pt;
  color: rgb(188, 188, 220);
}

h3{
  font-size: 16pt;

}

.carte_retourner {
  background-color: transparent;

  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.carte{
  position: relative;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.carte_retourner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.carte_dessus, .carte_arriere {
  position: absolute;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.carte_dessus{
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.carte_arriere {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}